/* PrioritySelector.css */

.priority-selector-done {
  position: relative;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(205, 249, 236);
  color: black;
  font-style: bold;
}
.priority-selector-todo {
  position: relative;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(205, 249, 236);
  color: black;
  font-style: bold;
}
.priority-selector-progress {
  position: relative;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(205, 249, 236);
  color: black;
  font-style: bold;
}
.priority-selector-hold {
  position: relative;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(205, 249, 236);
  color: black;
  font-style: bold;
}
.options-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 0.5px solid rgb(232, 221, 221);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  visibility: hidden; /* Hide the options container by default */
}

.option {
  padding: 5px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 0.5px solid rgb(232, 221, 221);
}

.option-done {
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 0.5px solid rgb(232, 221, 221);
}

.option-progress {
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 0.5px solid rgb(232, 221, 221);
}

.option-todo {
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 0.5px solid rgb(232, 221, 221);
}
.option-hold {
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom: 0.5px solid rgb(232, 221, 221);
}
