.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: auto;
  padding: 20px;
  border: 2px solid #ccc; /* Border added to the container */
  border-radius: 10px; /* Rounded border for the container */
  transition: box-shadow 0.3s; /* Transition added for box-shadow */
}

.container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.big-bold-text {
  font-weight: bold;
  font-size: 20px;
}
.child {
  display: flex; /* Add display flex */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 500px;
  height: 100px;
  margin-bottom: 50px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ccc; /* Border added for the child */
  transition: box-shadow 0.3s;
}

.child:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
